@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #011627;
}

.container {
    width: 75%;
    margin: 120px auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container .color {
    flex-basis: 15%;
    flex-grow: 1;
    background-color: #fff2;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 20px 50px 0 #0001;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.color .color-box {
    width: 100%;
    height: 185px;
    background-color: #8a6cff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.color:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.hex-value {
    color: #fff;
    text-align: center;
    display: block;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 5px;
}

.refresh-btn {
    text-align: center;
}

.btn {
    padding: 16px 32px;
    background: #fff3;
    box-shadow: 0 10px 50px -10px #0005;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 0 0 10px #0004;
    letter-spacing: 1px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 50px;
    backdrop-filter: blur(20px);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.btn:hover {
    background: #fff2;
    color: #fff;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 100;
    background-color: #062742cd;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 100;
}

@media screen and (max-width: 1280px) {
    .container .color {
        flex-basis: 30%;
    }
}

@media screen and (max-width: 680px) {
    .container .color {
        flex-basis: 40%;
    }
}
